# Biến môi trường cho PostgreSQL
# Bạn có thể giữ nguyên các giá trị này cho môi trường development
POSTGRES_USER=vua1
POSTGRES_PASSWORD=1111
POSTGRES_DB=abc_office

# Biến môi trường cho Backend (NestJS)
# QUAN TRỌNG: Hãy thay đổi các giá trị này bằng các chuỗi ngẫu nhiên và an toàn
JWT_ACCESS_SECRET=thay_the_bang_mot_chuoi_bi_mat_dai_va_ngau_nhien
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES_DAYS=7

# Cấu hình MinIO (Giả lập Cloud Storage)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=abc-office
MINIO_USE_SSL=false